<!-- ####################################################################################################### -->
<div class="wrapper col3">
  <div id="topnav">
  @Html.Action("Menu", "Common")
  @Html.Action("SearchBox", "Catalog")
    <br class="clear" />
  </div>
</div>